.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    padding: 25px;
    background: #fff;
}

.modalCloseBtn {
    position: absolute;
    font-size: 18px;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

@media (max-width: 425px) {
    .modalContent {
        width: 100vw;
        height: 100vh;
    }
    .modalContent {
        padding: 0;
    }
}
