body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: url(../img/body_bg.jpg) repeat;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

header {
    background-color: #333333;
    background-size: 250px;
}

.header__items {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.header__item_logo {
    color: #fff;
    font-size: 36px;
    padding: 5px;
    flex: 0 1 400px;
}

.header__item {
    color: #fff;
    font-size: 24px;
    padding: 5px;
}

.header__user {
    color: #fff;
    box-shadow: 0 0 3px #fff;
    border-radius: 10px;
}
.header__username {
    font-size: 16px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 5px;
}
.header__btn {
    font-size: 16px;
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 0 10px 10px 0;
}

main {
    flex: 1 1 100%;
}

footer {
    background: url(../img/h&f_bg.jpg);
    background-size: 250px;
}

.footer__items {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    color: #000;
    font-size: 18px;
    font-weight: "bold";
    background-color: #fff;
    padding: 5px;
}

@media (max-width: 500px) {
    .footer__items {
        flex-direction: column;
        justify-content: space-around;
    }
}
