.content {
    flex: 1 1 100%;
}

.dish {
    margin-top: 30px;
    position: relative;
}
.dish__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.dish__filter {
    display: flex;
    max-width: 800px;
    /* Либо overflow-x: auto */
    overflow-x: hidden;
    box-shadow: 0px 0px 2px #000;
    scroll-behavior: smooth;
    transition: all 0.2s ease-out;
    background-color: #fff;
}

@media (max-width: 992px) {
    .dish__filter {
        max-width: 600px;
    }
}
@media (max-width: 767px) {
    .dish__filter {
        max-width: 400px;
    }
}
@media (max-width: 482px) {
    .dish__filter {
        max-width: 300px;
        flex-wrap: wrap;
    }
}

.dish__list {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #000;
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #fff;
}

.dish__list:last-child {
    margin: 0 0 40px 0;
}

/* dish__items CSStransition */
.list-enter {
    transform: scale(1, 0) translateY(-50%);
}
.list-enter-active {
    transform: scale(1);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.list-exit {
    transform: scale(1);
}
.list-exit-active {
    transform: scale(1, 0) translateY(50%);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media (max-width: 1100px) {
    .dish__list {
        margin: 0 10px 20px;
    }
    .dish__list:last-child {
        margin: 0 10px 40px;
    }
}

.dish__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* dish__items CSStransition */
.items-enter {
    scale: 0;
}
.items-enter-active {
    scale: 1;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
.items-exit {
    scale: 1;
}
.items-exit-active {
    scale: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.4, 0.265, 1);
}

.dish__item {
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 1px 2px #000;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
}

.dish__item img {
    object-fit: cover;
    flex: 1 0 250px;
    width: 250px;
    height: 330px;
    top: 0;
    left: 0;
    padding: 10px 0;
}

.dish__item_not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.dish__item_not-found span {
    margin: 0 0 50px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.dish__item_not-found img {
    object-fit: contain;
    flex: 1 0 250px;
    width: 250px;
    height: 330px;
    top: 0;
    left: 0;
    padding: 10px 0;
}

.dishModal {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    font-size: 18px;
}

.dishModal__item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
}
